<ng-include src="'partials/shared/_entry_nav.html'"></ng-include>
<main class="container">
    <div class="row">
        <div class="columns twelve">
            <h1>Welcome to User dashboard</h1>
            <p></p>
            <a href="#!/login"><button>Start</button></a>
        </div>
    </div>
    <div class="row">
        <div class="columns four">
            <h2>Manage Users</h2>
            <p>Create, delete and edit your own profile!</p>
        </div>
        <div class="columns four">
            <h2>Leave Messages</h2>
            <p>Users will be able to leave messages to other users with this app</p>
        </div>
        <div class="columns four">
            <h2>Edit User Information</h2>
            <p>Admins will be able to edit information for any user</p>
        </div>
    </div>
</main>
